* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    color: #333;
    background-color: #fff;
}

h1 {
    font-family: Arvo, sans-serif;
    font-size: 48px;
    line-height: 60px;
    font-weight: 400;
}

h2 {
    font-family: Arvo, sans-serif;
    font-weight: 700;
}

h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Arvo, sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
}

a {
    color: #27b9c2;
    text-decoration: underline;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}




.caps {
    font-family: Montserrat, sans-serif;
    color: #9fa3a7;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.caps.white {
    color: #fff;
}

.grey-text {
    color: #9fa3a7;
}

.arrow-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-decoration: none;
    text-transform: uppercase;
}

.arrow-link.yellow {
    color: #ffc80a;
}

.arrow {
    font-size: 16px;
}



.container {
    display: grid;
    align-content: start;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 25%;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
}




.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    padding-right: 4%;
    padding-left: 4%;
    justify-content: space-around;
    align-items: center;
}

.text-content {
    width: 32%;
}

.image1 {
    margin-top: 40px;
    align-self: flex-end;
}




.box2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f8f9;
    text-align: center;
}

.box2 h1 {
    max-width: 550px;
}




.box3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f05638;
    color: #fffbfb;
    text-align: center;
}

.keyboard-title {
    display: block;
    max-width: 230px;
    margin-bottom: 0px;
}




.box4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    overflow: hidden;
    padding-top: 68px;
    padding-right: 4%;
    padding-left: 4%;
    justify-content: space-around;
}

.left-column {
    display: flex;
    width: 50%;
    max-width: 180px;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    margin-bottom: auto;
}

.mac-image {
    position: relative;
    left: -160%;
    width: 250%;
    max-width: none;
    margin-top: 20px;
}

.right-column {
    width: 40%;
}




.box5 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    overflow: hidden;
    padding: 30px 5% 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8f76bc;
    color: #fff;
    text-align: center;
}

.circle {
    display: flex;
    width: 373px;
    height: 373px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #8166b0;
}

.pill {
    padding: 2px 13px 1px 30px;
    border-radius: 60px;
    background-color: hsla(0, 0%, 100%, .08);
    font-size: 10px;
    line-height: 23px;
    font-weight: 700;
    letter-spacing: 2.4px;
}

.floppy-image {
    position: relative;
    left: -8px;
    margin-top: 20px;
}

.box5 h2 {
    font-family: Arvo, sans-serif;
}

.description {
    width: 80%;
    max-width: 290px;
}

.learn-more-btn {
    margin-top: 30px;
    padding: 14px 28px;
    border-radius: 50px;
    background-color: #ffc80a;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-decoration: none;
}




.box6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f8f9;
}

.controller-image {
    position: relative;
    left: -7%;
}

.games-title {
    width: 54%;
    text-align: center;
}




.box7 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    position: relative;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #93b6b7;
    background-image: url("https://uploads-ssl.webflow.com/5bc242f45a5ed923b1704210/5bc2f42d5a5ed97dab707e7e_UX.png");
    background-position: 50% 100%;
    background-size: 80%;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

.badge {
    position: absolute;
    left: 30px;
    top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: #fa684f;
    font-size: 8px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

.ipad-title {
    display: block;
    max-width: 280px;
    margin: auto;
    padding-top: 31px;
    padding-bottom: 31px;
}

.ipad-image {
    position: relative;
    left: -7%;
    width: 90%;
}




.box8 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #38d5f4;
    color: #fff;
}

.twitter-circle {
    display: flex;
    width: 240px;
    height: 240px;
    padding-right: 34px;
    padding-left: 34px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #35cfed;
    text-align: center;
}




.box9 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f8f9;
}

.popular-badge {
    background-color: #7bc424;
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 8px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

.heading-8 {
    width: 70%;
    text-align: center;
}




.box10 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    overflow: hidden;
    padding-right: 5%;
    padding-left: 5%;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    color: #fff;
}

.tv-image {
    position: relative;
    left: -15%;
}

.tv-title {
    width: 34%;
}




@media (max-width: 991px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 25%;
        grid-template-rows: auto 1fr 1fr 1fr auto auto auto auto;
    }

    .box2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .box2 h1 {
        font-size: 35px;
        line-height: 1.4em;
    }

    .box1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

   
    .box3 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    
    .box6 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        padding-top: 30px;
        padding-bottom: 30px;
    }

   
    .box4 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    
    .box8 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    
    .box5 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 7;
    }

    
    .box7 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    
    .box9 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    
    .box10 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 8;
        grid-row-end: 9;
    }
}




@media (max-width: 479px) {
    .container {
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    }


    .box1 {
        padding-top: 40px;
        flex-direction: column;
    }

    .text-content {
        width: 90%;
    }

    .image1 {
        position: relative;
        left: -4%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .box2 h1 {
        font-size: 10vw;
    }

    
    .box3 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    
    .box6 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .box4 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 6;
        flex-direction: column;
        padding-bottom: 50px;
    }

    .left-column {
        width: 100%;
        max-width: none;
        margin-bottom: 34px;
    }

    .mac-image {
        left: -115%;
        width: 200%;
        margin-top: 40px;
    }

    .right-column {
        width: 100%;
    }


    .box8 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    
    .box7 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    
    .box5 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 8;
        grid-row-end: 9;
    }
    .box9 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 9;
        grid-row-end: 10;
    }

    .box10 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 10;
        grid-row-end: 11;
        padding-bottom: 30px;
        flex-direction: column;
    }

    .tv-title {
        width: 100%;
        text-align: center;
    }

    .tv-image {
        margin-bottom: -7%;
    }
}