*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#8B5CF6;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
}

nav h2{
    color:#F8FAFC;
}

.menu{
    display:flex;
    gap:25px;
}

.menu a{
    color:#F8FAFC;
    text-decoration:none;
}