*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
}
.container{
    margin: 20px;
    display: flex;
}
.box{
    border: 5px solid black;
    border-radius: 40px;
    margin: 10px;
    padding: 10px;
}
.box > img{
    height: 154px;

}